
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Date and time</th>
            <th>Hairdresser</th>
            <th>Color</th>
        </tr>
    </thead>
    <body>
        <% @results.each do |row| %>
            <tr>
                <td><%= row[1] %></td>
                <td><%= row[2] %></td>
                <td><%= row[3] %></td>
                <td><%= row[4] %></td>
                <td><%= row[5] %></td>
            </tr>
        <% end %>
    </body>
</table>
